{# templates/articles.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="bg-gray-100 py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            {% for article in articles %}
            <a href="{{ path('app_articlecontroller_showarticle', {'id': article.id}) }}">
            <div class="bg-white rounded-lg shadow-lg overflow-hidden" id="article-{{ article.id }}">
                <div class="px-6 py-4">
                    <h2 class="text-xl font-semibold text-gray-800">{{ article.title }}</h2>
                    <p class="text-gray-600 mt-2">{{ article.content|slice(0, 100) ~ '...' }}</p>
                </div>
                <div class="px-6 py-4 bg-gray-100 border-t">
                    <p class="text-sm text-gray-500">Auteur : {{ article.author.firstname }} {{ article.author.lastname }}</p>
                    <p class="text-sm text-gray-500">Date : {{ article.createAt|date('Y-m-d') }}</p>
                    <p class="text-sm text-gray-500">
                        Catégories : 
                        {% for category in article.categories %}
                            {{ category.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
